/*
COLORS:

Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485

*/

/*reset*/
*, 
*::after, 
*::before {
    margin: 0; 
    padding: 0; 
    box-sizing: inherit; 
}


html {
    font-size: 62.5%; 
}

/*project wide defualt styles*/ 
body {
    font-family: "Lato", sans-serif; 
    font-weight: 400; 
    /*font-size: 16px;*/ 
    line-height: 1.7; 
    color: #777; 
    padding: 3rem;
    box-sizing: border-box;  
}

/*header styles with background image */ 
.header {
    height: 95vh; /*always 95% of the viewport*/ 
    background-image: linear-gradient(to right bottom, 
                    #7ed56fcc,
                    #28b485cc), 
                    url("../img/hero.jpg"); 
    background-size: cover; /*whatever the view port will always try to fit*/ 
    background-position: top; 
    position: relative; 
    clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%); 

}

/*logo styles */ 
.logo-box {
    position: absolute; 
    top: 4rem; 
    left: 4rem; 
}

.logo {
    height: 3.5rem; 
}

.textbox {
    position: absolute; 
    top: 40%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    text-align: center; 
}

/*header text styles */ 
.header-primary {
    color: #fff; 
    text-transform: uppercase;
    backface-visibility: hidden; /*fixes shaky animation*/ 
    margin-bottom: 6rem; 
} 

.header-primary-main {
    display: block; 
    font-size: 6rem; 
    font-weight: 400; 
    letter-spacing: 3.5rem;
    
    animation-name: move-in-left; 
    animation-duration: 1s; 
    animation-timing-function: ease-out; 
     
    /*
         animation-delay: 1s; delays the animation by 1s
         animation-interation-count: 3; how many times an animation happens
         aimation-timing-function: how fast or slow certain moments aimation happens
    */
    
} 

.header-primary-sub {
    display: block; 
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 1.75rem;
    animation: move-in-right 1s ease-out; 
} 

@keyframes move-in-left {
    0% {
        opacity: 0;
        transform: translateX(-10rem);  
    }

    80% {
        transform:translateX(1rem); 
    }

    100% {
        opacity: 1;
        transform: translate(0); 
    }
}


@keyframes move-in-right {
    0% {
        opacity: 0;
        transform: translateX(10rem);  
    }

    80% {
        transform:translateX(-1rem); 
    }

    100% {
        opacity: 1;
        transform: translate(0); 
    }
}


@keyframes move-in-bottom {
    0% {
        opacity: 0;
        transform: translateY(4rem);  
    }


    100% {
        opacity: 1;
        transform: translate(0); 
    }
}

/*states styles link is a special state for a link*/
.btn:link, 
.btn:visited {
    text-transform: uppercase; 
    text-decoration: none; 
    padding: 1.5rem 4rem;
    display: inline-block; 
    border-radius: 10rem; 
    transition: all .2s; /*all properties will be animated */
    position: relative;  
    font-size: 1.5rem;
 
}

/*styles for hover*/ 
.btn:hover {
    transform: translateY(.3rem); 
    box-shadow: 0 1rem 2rem rgba(0,0,0,.2); 
}

/*styles for when clicked*/ 
.btn:active {
    transform: translateY(-.1rem); 
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.2);
}

/*styles for specific button */ 
.btn-white {
    background-color: #fff; 
    color: #777;
    
}

/*style for the button mouse over */  
.btn::after {
    content: ""; 
    display: inline-block;
    height: 100%; 
    width: 100%; 
    border-radius: 100px; 
    position: absolute;  
    top: 0; 
    left: 0;
    z-index: -1;  
    transition: all .4s; 
    
}

.btn-white::after {
    background-color: white; 
}

.btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;  
}



.btn-animated {
    animation: move-in-bottom 1s ease-out .5s; 
    animation-fill-mode: backwards; 
}



