/*theme color varibables*/ 
$color-primary: #55c57a; 
$color-primary-light: #7ed56f; 
$color-primary-dark: #28b485; 
$color-dark-grey: #777;
$color-white: #fff;
$color-black: #000;  
/*reset*/
*, 
*::after, 
*::before {
    margin: 0; 
    padding: 0; 
    box-sizing: inherit; 
}


html {
    font-size: 62.5%; 
}

/*project wide defualt styles*/ 
body {
    font-family: "Lato", sans-serif; 
    font-weight: 400; 
    /*font-size: 16px;*/ 
    line-height: 1.7; 
    color: $color-dark-grey; 
    padding: 3rem;
    box-sizing: border-box;  
}

/*header styles with background image and logo*/ 
.header {
    height: 95vh; /*always 95% of the viewport*/ 
    background-image: linear-gradient(to right bottom, 
                    rgba($color-primary-light,0.8),
                    rgba($color-primary-dark, 0.8)), 
                    url("../img/hero.jpg"); 
    background-size: cover; /*whatever the view port will always try to fit*/ 
    background-position: top; 
    position: relative; 
    clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%); 


    //logo styles 
    &_logo-box {
        position: absolute; 
        top: 4rem; 
        left: 4rem; 
    }

    &_logo {
        height: 3.5rem; 
    }
    
    &_textbox {
        position: absolute; 
        top: 40%; 
        left: 50%; 
        transform: translate(-50%, -50%); 
        text-align: center; 
    }

}


.header-primary {
    color:$color-white; 
    text-transform: uppercase;
    backface-visibility: hidden; /*fixes shaky animation*/ 
    margin-bottom: 6rem; 

    &--main {
        display: block; 
        font-size: 6rem; 
        font-weight: 400; 
        letter-spacing: 3.5rem;
        
        animation-name: move-in-left; 
        animation-duration: 1s; 
        animation-timing-function: ease-out; 
         
        /*
             animation-delay: 1s; delays the animation by 1s
             animation-interation-count: 3; how many times an animation happens
             aimation-timing-function: how fast or slow certain moments aimation happens
        */
        
    } 
    
    &--sub {
        display: block; 
        font-size: 2rem;
        font-weight: 700;
        letter-spacing: 1.75rem;
        animation: move-in-right 1s ease-out; 
    } 
    
} 


//animations for first part of page  
@keyframes move-in-left {
    0% {
        opacity: 0;
        transform: translateX(-10rem);  
    }

    80% {
        transform:translateX(1rem); 
    }

    100% {
        opacity: 1;
        transform: translate(0); 
    }
}


@keyframes move-in-right {
    0% {
        opacity: 0;
        transform: translateX(10rem);  
    }

    80% {
        transform:translateX(-1rem); 
    }

    100% {
        opacity: 1;
        transform: translate(0); 
    }
}


@keyframes move-in-bottom {
    0% {
        opacity: 0;
        transform: translateY(4rem);  
    }


    100% {
        opacity: 1;
        transform: translate(0); 
    }
}

.btn {

/*states styles link is a special state for a link*/
    &:link, 
    &:visited {
        text-transform: uppercase; 
        text-decoration: none; 
        padding: 1.5rem 4rem;
        display: inline-block; 
        border-radius: 10rem; 
        transition: all .2s; /*all properties will be animated */
        position: relative;  
        font-size: 1.5rem;
    }

    /*styles for hover*/ 
    &:hover {
        transform: translateY(.3rem); 
        box-shadow: 0 1rem 2rem rgba($color-black,.2); 

        &::after {
            transform: scaleX(1.4) scaleY(1.6);
            opacity: 0;  
        }
    }

    /*styles for when clicked*/ 
    &:active {
        transform: translateY(1rem); 
        box-shadow: 0 .5rem 1rem rgba($color-black,.2);
    }


    /*styles for specific button */ 
    &--white {
        background-color: #fff; 
        color: $color-dark-grey;
        
        &::after {
            background-color: $color-white; 
        }      
    }

    /*style for the button mouse over */  
    &::after {
        content: ""; 
        display: inline-block;
        height: 100%; 
        width: 100%; 
        border-radius: 100px; 
        position: absolute;  
        top: 0; 
        left: 0;
        z-index: -1;  
        transition: all .4s; 
        
    }





    &--animated {
        animation: move-in-bottom 1s ease-out .5s; 
        animation-fill-mode: backwards; 
    }


}

