//animation for something to fade in from the left 
@keyframes move-in-left {
    0% {
        opacity: 0;
        transform: translateX(-10rem);  
    }

    80% {
        transform:translateX(1rem); 
    }

    100% {
        opacity: 1;
        transform: translate(0); 
    }
}

//animation for something to fade in from the right
@keyframes move-in-right {
    0% {
        opacity: 0;
        transform: translateX(10rem);  
    }

    80% {
        transform:translateX(-1rem); 
    }

    100% {
        opacity: 1;
        transform: translate(0); 
    }
}

//animation for something to come in from the bottom
@keyframes move-in-bottom {
    0% {
        opacity: 0;
        transform: translateY(4rem);  
    }


    100% {
        opacity: 1;
        transform: translate(0); 
    }
}
